In [5]:
import requests
from io import StringIO
import pandas as pd
import numpy as np

datestr = '20210205'

# 下載股價
r = requests.post('https://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + datestr + '&type=ALLBUT0999')

# 整理資料，變成表格
df = pd.read_csv(StringIO(r.text.replace("=", "")), 
            header=["證券代號" in l for l in r.text.split("\n")].index(True)-1)

# 整理一些字串：
df = df.apply(lambda s: pd.to_numeric(s.astype(str).str.replace(",", "").replace("+", "1").replace("-", "-1"), errors='coerce'))

# 顯示出來
df.head()

0         True
1         True
2         True
3         True
4         True
         ...
21311    False
21312     True
21313     True
21314     True
21315    False
Name: 本益比, Length: 21316, dtype: bool

In [6]:
df[pd.to_numeric(df['本益比'], errors='coerce') < 15]

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,Unnamed: 16
0,50.0,NaN,24714046,26235,3413371452,138.20,139.00,135.00,137.45,NaN,0.00,137.45,78,137.50,153,0.00,NaN
1,51.0,NaN,73357,50,3299870,44.62,45.39,44.62,45.39,1.0,0.77,45.39,4,45.40,7,0.00,NaN
2,52.0,NaN,2937391,2815,395644367,132.75,136.00,132.40,135.90,-1.0,0.55,135.90,1,135.95,3,0.00,NaN
3,53.0,NaN,78166,63,5285440,67.20,68.00,67.20,67.50,-1.0,0.80,67.45,1,67.85,1,0.00,NaN
4,54.0,NaN,27000,9,821820,30.32,30.54,30.32,30.54,1.0,0.27,30.49,56,30.58,1,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21308,NaN,NaN,18000,12,908700,50.40,50.60,50.30,50.60,NaN,0.00,50.30,14,50.60,34,0.00,NaN
21310,9943.0,NaN,174644,145,10592145,60.60,61.00,60.40,60.80,1.0,0.10,60.80,8,61.00,2,14.37,NaN
21312,9945.0,NaN,2781818,1503,109827512,39.50,39.60,39.35,39.60,1.0,0.10,39.60,92,39.65,25,8.57,NaN
21313,9946.0,NaN,429326,284,6094124,14.55,14.55,14.05,14.15,-1.0,0.30,14.15,22,14.20,2,8.09,NaN
21314,9955.0,NaN,347569,251,6251621,18.00,18.25,17.80,18.00,NaN,0.00,18.00,6,18.05,7,0.00,NaN